<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.MedicalRecruitment.JobMD"
    versionCode = "10" 
    version     = "1.0.0" >

	<!-- app icon-->

        <icon src="icon.png" gap:platform="android"/>
        <gap:splash src="splash.png" gap:platform="android"/>
        <gap:splash src="ldpi.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="mdpi.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="hdpi.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />
        <gap:splash src="xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
        <prefernce name="SplashScreen" value="splash" />
<!-- plugins -->
<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
<gap:plugin name="com.phonegap.plugins.pushplugin"  />
<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.file-transfer" source="npm"  />
<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />

<platform name="android">
        <preference name="Fullscreen" value="true" />
    </platform>
    <!-- versionCode is optional and Android only -->
    <name>JobMD</name>

    <description>
    Medical Recruitment-JobSeeker
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
  Sampat Jadhav
    </author>

    <!--
      This allows your app to load assets from all *.phongap.com domains
    -->
   <access origin="*" />
</widget>
